body {
  background-color: #e5eff5;
  font-family: 'Karla', sans-serif;
}

h2 {
  margin-top: 0;
  color: #2BB3B1;
}

h3 {
  margin-top: 0;
  padding: 0 30px;
  word-wrap: break-word;
  color: #ffffff;
  font-size: 1.25em;
}

p {
  padding: 0 30px;
  margin: 0;
  color: #ffffff;
  font-size: 1em;
  opacity: 0.75;
  font-weight: lighter;
}



.main-container {
  margin: 10% 30% 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(152,166,189,0.5);
  -moz-box-shadow: 0px 0px 15px 5px rgba(152,166,189,0.5);
  box-shadow: 0px 0px 15px 5px rgba(152,166,189,0.5);
}


.top-container {
  width: 100%;
  font-size: 15px;
  background-color: #ffffff;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 30px;
}

.bottom-left-container {
  flex: 1 1 250px;
  font-size: 1rem;
  background-color: #2BB3B1;
  border-bottom-left-radius: 7px;
  padding: 30px 0 10px;
}

.bottom-right-container {
  flex: 1 1 250px;
  font-size: 1rem;
  background-color: #4ABEBD;
  border-bottom-right-radius: 7px;
  padding: 30px 0;
}

.money-back {
  color: #BFDF32;
  padding: 0;
}

.gain-access {
  color: #7F7F7F;
  opacity: 1;
  padding: 0;
}

.price {
  opacity: 1;
  font-size: 2em;
  padding-bottom: 7px;
}

.per_month {
  opacity: 0.5;
  font-size: 0.5em;
  padding-left: 7px;
  text-align: center;
}

.SignUp {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#bfdf32;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding: 5% 30%;
  margin: 30px;

	text-decoration:none;
}
.SignUp:hover {
	background-color:#4abebc;
}
.SignUp:active {
	position:relative;
	top:1px;
}

.attribution {
  margin-top: 30px;
  color: #7F7F7F;
}
